<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Document</title>
</head>
<body>
 <div>
  <h4>
   This is a test
  </h4>
  <p>example</p>
  <div class="chat-thread-1">

  </div>

  <form id="my-form" method="POST" action="/msgFromClient">
  <input name="formInput" type="text" placeholder="message to send..."></div> 
  <button type="submit">Submit</button>
  </form>
 </div>
</body>
<script src="/javascripts/ws-client.js"></script>
</html>